body{
    margin: 0px;
font-family: font-family: 'Poppins', sans-serif;;
}
.name-highlight{
    color: orange;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

.link-button{
    text-decoration: none;
background-color: orchid;
padding: 10px 20px;
border-radius: 5px;
color: papayawhip;


    
}

.work-img{
    widows: 33%;
    float: left;
    margin-left: 3%;
    padding: 2%;
    
    
    }
.work-img img{
    width: 100%;
}
        
